@charset "UTF-8";

@font-face {
    font-family: CalSans;
    src: url('../Cal_Sans/CalSans-Regular.ttf');
}

@font-face {
    font-family: inter-title;
    src: url('../Inter/static/Inter_18pt-SemiBold.ttf');
}

@font-face {
    font-family: inter-text;
    src: url('../Inter/static/Inter_18pt-Light.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter-text;
}

/* variaveis de cor */
:root {
    --borderblue:
        #1e3c5dd8;

    --bg: rgb(18, 18, 19);

    --text-color: #f8f8f9;

    --secundary-color: #7d8b97;
}

body {
    overflow-x: hidden;
    color: var(--text-color);
    background-color: var(--bg);
}


/* Cabeçalho */
header {
    width: 100%;
    background: var(--bg);
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ffffff76;
    box-shadow: 1px -10px 12px 8px #ffffff99;
}

.portfolio {
    font-family: CalSans;
    border-left: 3px solid var(--text-color);
    padding-left: 3px;
    cursor: pointer;
}

/* icone menu mobile */
.hamburguer-menu {
    display: none;
    position: absolute;
    left: 10px;
    top: 20px;
    cursor: pointer;
    z-index: 9999;
    height: 20px;
    width: 30px;
}

.meat {
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    height: 2px;
    width: 30px;
    transition: .2s;
}

.hamburguer-menu-before {
    border-radius: 50px;
    position: absolute;
    top: 0;
    background-color: var(--text-color);
    height: 2px;
    width: 30px;
    transition: .2s;
}

.hamburguer-menu-after {
    border-radius: 50px;
    position: absolute;
    bottom: 0;
    background-color: var(--text-color);
    height: 2px;
    width: 30px;
    transition: .2s;
}

/* open menu */
.meat-open-menu {
    border-radius: 50px;
    position: absolute;
    top: 5px;
    left: 0%;
    transform: rotate(-40deg);
    height: 2px;
    width: 30px;
    background-color: var(--text-color);
    transition: .2s;
}

.hamburguer-menu-before-open-menu {
    border-radius: 50px;
    position: absolute;
    top: 5px;
    transform: rotate(40deg);
    height: 2px;
    width: 30px;
    background-color: var(--text-color);
    transition: .2s;
}

.hamburguer-menu-after-open-menu {
    visibility: hidden;
}

/* --------- */

nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
}

.menu a {
    color: var(--text-color);
    text-decoration: none;
    font-size: large;
    font-weight: 800;
    cursor: pointer;
    padding: 1em .3em;
    position: relative;
}

.menu a::after {
    content: "";
    background-color: var(--borderblue);
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 6px;
    width: 0%;
}

.menu a:hover {
    color: #272727;
    transition: 1s;
    background: var(--text-color);
}

.menu a:hover::after {
    width: 100%;
    transition: .3s;

}

/* Geral */
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 8em 0;
}
.info {
    width: 100%;
    padding: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

.info p {
    cursor: pointer;
}

#title {
    font-family: inter-title;
    font-size: 34px;
    border-bottom: 1px solid var(--text-color);
    text-align: center;
    cursor: pointer;
    position: relative;
}

#title::after {
    content: "";
    background: var(--borderblue);
    position: absolute;
    bottom: 0;
    right: -30px;
    height: 23px;
    width: 80%;
    z-index: -1;
    transition: right 1.4s ease-in-out;
}

#title.hidden::after {
    right: -30px;
}

#title.revealed::after {
    right: -5px;
}


#home h1 {
    font-family: CalSans;
    font-size: 80px;
    line-height: 0.9;
    padding-bottom: 3px;
    cursor: pointer;
}

#projects {
    border-bottom: 1px solid #ffffff76;
}


/* primeiro bloco */
.wrapper-profile {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    gap: 10em;
}

.subtitle {
    color: var(--secundary-color);
}

.profile {
    width: 30ch;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.divIcons {
    margin-top: .5em;
    display: flex;
    gap: 10px;
}

.divIcons img {
    width: 28px;
}

.divIcons img:hover {
    opacity: .3;
    transition: 1s;
}


/* card-foto */
.card-foto {
    cursor: pointer;
}

.card-foto img {
    opacity: 0.7;
    box-shadow: 6px 5px 1px 2px var(--borderblue);
    background-color: white;
}

.image-profile-mobile {
    display: none;
    margin-bottom: .8em;
}

/* segundo bloco */
.texto {
    text-align: center;
    font-size: large;
    line-height: 1.5;
    width: 60%;
    color: var(--secundary-color);
    padding: 1em;
    position: relative;
    border: 3px solid;
    border-image: linear-gradient(to right,
            transparent 10%,
            var(--borderblue) 30%,
            var(--borderblue) 70%,
            transparent 90%) 1;
}

@media(width < 750px) {
    .texto {
        padding: 1em;
        width:90%;
        font-size: 15px;
    }
}

/*barra de scroll*/
::-webkit-scrollbar {
    width: 8px;
    background: #000000dc;
}

::-webkit-scrollbar-thumb {
    background: #88888894;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: #cbcbcbba;
}


/*Terceiro bloco*/
/*habilidades*/
.skill-icons {
    padding: 3em 0;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 90%;
    display: grid;
    gap: 1em;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));
}

@media(max-width: 600px) {
    .skill-icons {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        justify-content: center;
        padding: 1em 0;
    }
}

@media(min-width: 600px) and (max-width:1020px) {
    .skill-icons {
        padding: 1em 0;
        grid-template-columns: repeat(4, 1fr);
        width: 90%;
    }
}

@media(min-width:1020px) and (width < 1430px) {
    .skill-icons {
        grid-template-columns: repeat(4, 1fr);
        width: 60%;
    }
}


.skill-icons img {
    margin: 0;
    width: 64px;
    filter: grayscale(80%);
    opacity: 0.8;
}

.skill-icons-card {
    margin: 0;
    padding: 1em;
    width: 8em;
    text-align: center;
    border-radius: 1em;
    background-color: #3a39395c;
}

.skill-icons-card:hover {
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 2px 2px 10px 1px var(--borderblue);
}

.skill-icons img:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
    opacity: 1;
    transition: 0.5s;
}

h4 {
    text-align: center;
    font-weight: bolder;
}

/* Quarto bloco */
/* qualificação */

.wrapper-card-xp {
    width: 100%;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card-xp {
    width: 450px;
    padding: 1em;
    border: 1px solid var(--borderblue);
    border-radius: 2em;
    box-shadow: 0px 0px 4px 0px var(--borderblue);
    cursor: pointer;
}

.date-xp-card {
    margin-top: 1em;
    display: flex;
}

.subtitle-xp-card {
    margin-top: .2em;
    color: var(--secundary-color);
}

.date-xp-card p {
    display: flex;
    align-items: center;
}

.description-xp-card {
    margin-top: .2em;
    line-height: 1.4;
}

@media(max-width: 540px) {
    .date-xp-card p {
        font-size: small;
    }
}

.download {
    width: 140px;
    background-color: white;
    padding: 8px ;
    border-radius: 15em;
    cursor: pointer;
    border: 1px solid var(--borderblue);
    margin: 0
}
.download:hover {
    transition: .6s;
    background-color: var(--secundary-color);
}

.download a {
    font-family: inter-title;
    font-size: 15px;
    text-decoration: none;
    color: black;
}
.saibamais {
    width: 140px;
    background-color: transparent;
    padding: 8px ;
    border-radius: 15em;
    cursor: pointer;
    border: 3px solid var(--text-color);
    margin: 0;
    font-family: inter-title;
    font-size: 15px;
    text-decoration: none;
    color: var(--text-color);
}

/* Quinto bloco */
/* projetos */
.wrapper-projects {
    display: grid;
    width: 100%;
    padding: 2em 1em;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 2em;
    max-width: 900px;
}

@media(max-width: 840px) {
    .wrapper-projects {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.card {
    border-radius: 1em;
    border: 1px solid var(--borderblue);
    box-shadow: 0px 0px 5px 0px var(--borderblue);
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000000be;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-10px);
    transition: 0.5s;
    box-shadow: 2px 2px 10px 1px var(--borderblue);
}

.image-project {
    border-radius: 1em 1em 0 0;
    height: 280px;
    >img {
        border-radius: 1em 1em 0 0;
        width: 100%;
        height: 280px;
    }
}

.title-project {
    >h2 {
        font-family: inter-title;
        font-size: 28px;
    }

    >p {
        font-family: inter-title;
        color: var(--text-color);
    }
}

.wrapper-description-project {
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.buttons-project {
    padding: 1em;
    display: flex;
    gap: 1em;
    justify-content: left;
}

.card h2 {
    margin-bottom: 4px;
}

.description-project p {
    line-height: 1.4;
    color: var(--secundary-color);
}

.card a {
    text-decoration: none;
    color: black;
}

/* Rodapé */
footer {
    width: 100%;
    position: relative;
    height: fit-content;
    padding: 1em;
    border-top: 1px solid #ffffff76;
}

.rodape {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rodape img {
    width: 24px;
}

@media (max-width: 710px) {
    #home h1 {
        font-size: 60px;
    }

    .profile {
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 3em;
    }

    .wrapper-profile {
        flex-direction: column;
    }

    .divIcons {
        justify-content: center;
    }

    .image-profile {
        display: none;
    }

    .image-profile-mobile {
        display: block;
    }

    .card-foto img {
        width: 250px;
        height: 250px;
    }


}

@media (max-width: 805px) {
    .menu {
        display: none;
    }

    .hamburguer-menu {
        display: block;
    }

    nav {
        padding: 1.1em 0;
    }

}

/*menu mobile  */
.menu-mobile {
    width: 100%;
    height: 100vh;
    background-color: #0b0b0bf5;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
}

.menu-mobile a {
    color: #ffffffc1;
    text-decoration: none;
    font-weight: 900;
    font-size: 26px;
    cursor: pointer;
}

.menu-mobile a:hover {
    color: #646461;
    transition: 0.8s;
}

.close-menu {
    position: absolute;
    top: 25px;
    left: 10px;
    cursor: pointer;
}