@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --particle-speed: 25s;
    --gradient-circle: radial-gradient(circle at 0% 10%, #523940, transparent 60%),
        radial-gradient(circle at 50% 100%, #155729, transparent 60%),
        radial-gradient(circle at 100% 0%, #292bb9, transparent 70%);
}

body {
    position: relative;
    font-family: 'Inter', sans-serif;
    color: #f0f0f0;
    background-color: #1a1a2e;
}

/* ESTILOS GERAIS */
.section {
    padding: 80px 5%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

h2 {
    font-size: 3em;
}

h2,
h3,
h4 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 0 0 20px 15px rgba(142, 68, 173, 0.5);
}

h3 {
    font-size: xx-large;
}

p {
    line-height: 1.6;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

/* HEADER - HERO SECTION */
.hero {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: #1a1a2e;
    /* Fundo sólido para segurança */
}

.hero::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250%;
    height: 250%;
    background: var(--gradient-circle);
    animation: spinBackGround 10s infinite linear;
}

.hero::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
        radial-gradient(circle at 20% 30%, rgba(255, 255, 255, 0.4) 1px, transparent 3px),
        radial-gradient(circle at 70% 80%, rgba(255, 255, 255, 0.3) 1px, transparent 3px),
        radial-gradient(circle at 5% 90%, rgba(255, 255, 255, 0.5) 1px, transparent 3px),
        radial-gradient(circle at 85% 15%, rgba(255, 255, 255, 0.2) 1px, transparent 3px),
        radial-gradient(circle at 40% 60%, rgba(255, 255, 255, 0.45) 1px, transparent 3px),
        radial-gradient(circle at 10% 70%, rgba(255, 255, 255, 0.25) 0.5px, transparent 2px),
        radial-gradient(circle at 60% 20%, rgba(255, 255, 255, 0.35) 0.5px, transparent 2px),
        radial-gradient(circle at 30% 95%, rgba(255, 255, 255, 0.2) 0.5px, transparent 2px),
        radial-gradient(circle at 95% 40%, rgba(255, 255, 255, 0.4) 0.5px, transparent 2px);
    background-size:
        300px 300px,
        /* Tamanho para a primeira camada */
        300px 300px,
        300px 300px,
        300px 300px,
        300px 300px,
        200px 200px,
        /* Tamanho para a segunda camada */
        200px 200px,
        200px 200px,
        200px 200px;
    background-repeat: repeat;
    animation: floatParticles var(--particle-speed) reverse infinite linear;
    z-index: 0;
}

/* --- ÍCONE SCROLL DOWN --- */
.scroll-down {
    position: absolute;
    bottom: 50px;
    /* Distância da borda inferior */
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    /* Garante que fique acima de tudo no hero */
    color: white;
    font-size: 1.5em;
    opacity: 0.8;
    cursor: pointer;
    animation: bounce 2s infinite;
    /* Aplica a animação */
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translate(-50%, 0);
        /* Posição normal */
    }

    40% {
        transform: translate(-50%, -10px);
        /* Move 10px para cima */
    }

    60% {
        transform: translate(-50%, -5px);
        /* Move 5px para cima */
    }
}

@keyframes spinBackGround {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes floatParticles {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 500px 500px;

    }
}

.hero-content {
    position: relative;
    z-index: 999;
}

.hero-content h1 {
    font-size: 4em;
    line-height: 1em;
    font-weight: bolder;

}

.hero-content h2 {
    font-size: 1.8em;
    font-weight: 200;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.8);
}

/* Ícones de Redes Sociais */
.social-icons {
    margin: 2px 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icons a {
    color: #ffffff;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.social-icons a:hover {
    color: #fce38a;
    transform: scale(1.1);
}

.cta-button {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 50px;
    background: transparent;
    color: white;
    width: 100px;
    border: 2px solid white;
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
    padding: 8px;
}

.cta-button:hover {
    color: #fce38a;
    border: 2px solid #fce38a;
}

/* ---(SERVIÇOS) --- */

.next-section .container {
    padding: 5em 0;
    max-width: 1200px;
    min-height: 500px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.section-title {
    margin-bottom: 60px;
}



@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* --- GRID E CARDS DE SERVIÇOS --- */

.services-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    height: fit-content;
    margin-bottom: 3em;

}

.service-card {
    position: relative;
    width: 300px;
    height: auto;
}

.card-content {
    width: 100%;
    height: 100%;
    padding: 2em;
    background-color: #1f2136;
    border: 1px solid #088f08b2;
    border-radius: 12px;
    box-shadow: 0 8px 20px #00000066;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    z-index: 1;
}
.service-card::before {
    content: '';
    position: absolute;
    top: -25%;
    left: -20%;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    z-index: -1;
    animation: spin 60s infinite;
}

#card1::before {
    border: 60px dashed #2ca75511;
}

#card2::before {
    border: 60px dashed #5a1c6621;
    animation: spin 30s infinite reverse;
}

#card3::before {
    border: 60px dashed #297fb911;
}

.card-content:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6), 0 0 20px rgba(41, 185, 77, 0.5);
}

.service-card h3 {
    font-size: 1.4em;
    color: #2980b9;
    margin-bottom: 4px;
}

.service-card p {
    font-size: 1.1em;
}

.service-card i {
    font-size: 2em;
    color: #8e44ad;
    margin-bottom: 15px;
    display: block;
}

@media (max-width: 768px) {
    .services-grid {
        flex-direction: column;
        align-items: center;
    }

    #card2::before {
        left: 20%;
    }
}

/* seção about */
.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 80px 5%;
    background-image: linear-gradient(#1a1a2ec4,
            #1a1a2ee7),
        url('../img/wallpapper_about.png');
    background-size: cover;
    background-position: center;
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    max-width: 900px;
}

.about-image-container {
    flex-shrink: 0;
    width: 250px;
    height: 250px;
    overflow: hidden;
    position: relative;
    order: 1;
    padding: 10px;
    margin-bottom: 1em;
}

.profile-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 50%;
    border: 5px solid #1f2136;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.about-text {
    order: 2;
    text-align: center;
    max-width: 700px;
}

.about-text p {
    margin-bottom: 20px;
    max-width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.about-text p span {
    display: inline-block;
}

@media (max-width: 900px) {
    .about-image-container {
        width: 200px;
        height: 200px;
    }

    .about-me {
        background-image: linear-gradient(#1a1a2e9a,
                #1a1a2e),
            url('../img/wallpapper_about.png');
        background-position: 0%;
    }
}

/* --- SEÇÃO DE SKILLS --- */
.skills-container {
    position: relative;
    height: fit-content;
    padding-bottom: 2em;
    background-color: #120f239f;
    overflow: hidden;
    z-index: 999;
}

.skills i {
    color: #8e44ad;
    margin-left: 1.6em;
    font-size: 4em;
    z-index: 0;
}

.skills img {
    margin-left: 5em;

}

.title-marquee {
    font-size: larger;
    padding-top: 1em;
    margin: 0;
}


/* SEÇÃO DE PROJETOS */
.projects {
    background-image: linear-gradient(#1a1a2e,
            #1a1a2e9f),
        url('../img/wallpapper_projects.jpg');
    background-size: cover;
    background-position: center;
}

.projects-grid {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 4em;
}

.project-card {
    position: relative;
    max-width: 350px;
    padding: 3px; 
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1;
}


.project-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #1a1414;
    width: 100%; 
    height: 100%;
    z-index: 1;
    border-radius: inherit; 
}

.project-card::before {
    background: var(--gradient-circle);
    content: '';
    position: absolute;
    width:160%; 
    height:150%;
    right: 0;
    bottom: 0;
    top: -25%; 
    left: -25%;     
    z-index: -1; /* Coloca a borda atrás do conteúdo */
    border-radius: 15px; 
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}


.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6), 0 0 20px rgba(41, 185, 77, 0.5);
}

.project-card-content img {
    border-top-left-radius: 12px; 
    border-top-right-radius: 12px;
    width: 100%;
    height: 230px;
    display: block;
}

.project-card h4 {
    margin-top: 15px;
    font-size: 1.5em;
    color: #f0f0f0;
}

.project-card p {
    padding: 0 15px 15px;
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.7);
}

/* --- ESTILOS DOS BOTÕES DE PROJETO --- */
.project-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0 15px 25px;
}

.project-btn {
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 8px;
    font-size: 0.9em;
    font-weight: 600;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 8px;
}

.repo-btn {
    background-color: #333;
    /* Cor escura */
    color: #f0f0f0;
    border: 1px solid #555;
}

.repo-btn:hover {
    background-color: #555;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.site-btn {
    background-color: #292bb9;
    color: #ffffff;
    border: 1px solid #292bb9;
}

.site-btn:hover {
    background-color: #3f41d3;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(41, 43, 185, 0.4);
}

/* RODAPÉ */
footer {
    text-align: center;
    padding: 20px;
    background-color: #0f0f23;
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.5);
}

/* RESPONSIVIDADE (MEDIA QUERIES) */
@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 3em;
    }

    .hero-content h2 {
        font-size: 1.2em;
    }

    .section {
        padding: 50px 4%;
    }
}

.rocket {
    /*display: none; <--- Removido para o foguete aparecer */
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%); /* Centraliza o foguete */
    z-index: 1000; /* Garante que ele fique acima de tudo */
    pointer-events: none; /* Não interfere em cliques */
}
